* {
    box-sizing: border-box;
    font-family: arial;
}

h1 {
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
}

h2 {
    font-weight: bold;
    font-size: 14px;
    margin: 0px;
}

body {
    margin: 0;
    width: 100%;
    background-color: #ffffff;
    transition: 0.4s;
}

body.dark {
    background-color: black;
    transition: 0.4s;
}

.button {
    flex-grow: 0;
    width: 100%;
    height: 48px;
    font-size: 20px;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 7px;
}

.button.na {
    pointer-events: none;
    opacity: 40%;
}

.button:hover {
    background-color: #2d2d2d;
    cursor: pointer;
}

.button-margin {
    margin-bottom: 12px;
}

#canvas-wrapper {
    width: 100%;
    height: 100vh;
    /*padding: 32px 10px 24px 10px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas-container {
    width: 100%;
    flex-grow: 1;
    position: relative;
}

#canvas {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar {
    z-index: 450;
    position: relative;
}

.sidebar__panel {
    position: relative;
    width: 350px;
    min-height: 100%;
    background-color: white;
    border: 1px solid #D3D3D3;
    border-top: none;
    position: fixed;
    margin-left: 75px;
    z-index: 3;
    box-shadow: 0 0 4px rgb(193, 193, 193);
    display: none;
}

.panel__item {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D3D3D3;
    min-height: 75px;
}

.panel__item.centered {
    display: flex;
    align-items: center;
}

.item__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.slider {
    margin-top: 30px;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background: #BBBBBB;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.input {
    -webkit-appearance: none;
    appearance: none;
    width: 100px;
    height: 28px;
    background-color: #FBFBFB;
    border: 1px solid #D3D3D3;
    font-size: 16px;
    padding: 6px;
}

.panel__close {
    width: 40px;
    height: 60px;
    background-color: white;
    border: 1px solid #D3D3D3;
    border-top: none;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel__close:hover {
    background-color: rgb(244, 244, 244);
    cursor: pointer;
}

#close__icon {
    width: 10px;
}

.settings__tabs {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D3D3D3;
}

.tab__button {
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCFCFC;
    border-top: none;
}

.tab__button:hover {
    background-color: rgb(244, 244, 244);
    cursor: pointer;
}

.tab__button.middle {
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
}

.tab__button.active {
    background-color: #E3E3E3;
}

.tab__content {
    animation: fadeEffect 1s;
}


/* Go from zero to full opacity */

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sidebar {
    position: fixed;
    z-index: 2;
    left: 0;
    width: 75px;
    height: 100%;
    background-color: white;
    border-right: 1px solid #D3D3D3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.sidebar__item {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #D3D3D3;
}

.sidebar__item.bottom {
    border-top: 1px solid #D3D3D3;
}

.sidebar__item:hover {
    background-color: rgb(244, 244, 244);
    cursor: pointer;
}

.sidebar__item.active {
    background-color: #E3E3E3;
}

.sidebar__icon {
    width: 32%;
    opacity: 40%;
}

#logo {
    width: 60%;
}

.sidebar__logo {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #D3D3D3;
}

.topbar {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    margin-top: 24px;
    margin-right: 24px;
}

#topbar__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    height: 36px;
    font-size: 20px;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: black;
    color: white;
    font-size: 14px;
    border-radius: 7px;
    transition: 0.4s;
}

#topbar__button.dark {
    background-color: white;
    color: black;
    transition: 0.4s;
}

#topbar__button.dark:hover {
    background-color: rgb(234, 234, 234);
}

#topbar__button:hover {
    background-color: #2d2d2d;
    cursor: pointer;
}

.zoom__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 70px;
    margin-right: 3px;
}

.zoom__button {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
}

.zoom__button:hover {
    background-color: rgb(244, 244, 244);
    cursor: pointer;
}

.bottombar {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 24px;
    margin-right: 27px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logo__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#logo__bottom {
    width: 35px;
    margin: 12px;
}

#logo__text {
    font-size: 16px;
}

.placeholder {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grey-text {
    color: #B4B4B4;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.reg-text {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

#placeholder__animate {
    opacity: 10%;
    width: 90px;
}

#f-dots {
    width: 60%;
}

p {
    line-height: 120%;
}

.export__tabs {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D3D3D3;
}

.e-tab__button {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCFCFC;
    border-top: none;
}

.e-tab__button:hover {
    background-color: rgb(244, 244, 244);
    cursor: pointer;
}

.e-tab__button.left {
    border-right: 1px solid #D3D3D3;
}

.e-tab__button.active {
    background-color: #E3E3E3;
}

.e-tab__content {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}


/* Customize the label (the container) */

.c-container {
    display: block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 24px;
}


/* Hide the browser's default checkbox */

.c-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}


/* On mouse-over, add a grey background color */

.c-container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.c-container input:checked~.checkmark {
    background-color: #000000;
}


/* Create the checkmark/indicator (hidden when not checked) */

.c-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.c-container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.c-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.reg {
    font-weight: normal;
}

.header__bar {
    background-color: white;
    height: 75px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    border-bottom: 1px solid #D3D3D3;
    padding-left: 100px;
    padding-right: 28px;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: 0.4s;
}

.header__bar.dark {
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid #262626;
    transition: 0.4s;
}

.header__left {}

.header__right {
    display: flex;
}

.button__container {
    display: flex;
}

.file-name {
    font-weight: lighter;
    font-size: 20px;
}

#share__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    height: 36px;
    font-size: 16px;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: rgb(216, 216, 216);
    color: black;
    font-size: 14px;
    border-radius: 7px;
    margin-right: 8px;
}

#sharebutton:hover {
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.bgcol__container {
    height: 36px;
    border: 1px solid #D3D3D3;
    margin-right: 24px;
    border-radius: 5px;
    padding: 12px;
    display: flex;
    align-items: center;
}

.bgcol__sample {
    width: 18px;
    height: 18px;
    background-color: red;
    margin-right: 8px;
}

.bgcol__text {
    font-weight: lighter;
    font-size: 14px;
    margin: 0;
}

#animate-controls.frozen {
    pointer-events: none;
    opacity: 40%;
}


/* The switch - the box around the toggle */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 36px;
    margin-right: 12px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The toggle */

.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 5px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.toggle {
    filter: invert(100%)
}

input:focus+.toggle {
    filter: invert(100%)
}

input:checked+.toggle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded toggle */

.toggle.round {
    border-radius: 34px;
}

.toggle.round:before {
    border-radius: 50%;
}

#bottom__bar {
    transition: 0.4s;
}

#bottom__bar.dark {
    filter: invert(100%);
}

#zoom-in {
    transition: 0.4s;
}

#zoom-in.dark {
    filter: invert(100%);
}

#zoom-out {
    transition: 0.4s;
}

#zoom-out.dark {
    filter: invert(100%);
}

#sidebar {
    transition: 0.4s;
}

#sidebar.dark {
    filter: invert(100%);
}

#panel__settings {
    transition: 0.4s;
}

#panel__settings.dark {
    filter: invert(100%);
}

#panel__animate {
    transition: 0.4s;
}

#panel__animate.dark {
    filter: invert(100%);
}

#panel__export {
    transition: 0.4s;
}

#panel__export.dark {
    filter: invert(100%);
}

#panel__info {
    transition: 0.4s;
}

#panel__info.dark {
    filter: invert(100%);
}